/*Los indicadores del carrusel del bootstrap bolas de tenis*/
#carouselPrincipal .carousel-indicators [data-bs-target] {
    /* Aumentar el tamaño de los indicadores */
    width: 15px;/* Ancho del indicador */
    height: 15px;/* Alto del indicador */

    /* Ajustar la imagen de fondo */
    background-image: url("../images/list-ball-lightgrey.svg");
    background-size: cover;/* Ajusta la imagen para cubrir el área del indicador */
    background-position: center;/* Centra la imagen en el indicador */
    border-radius: 50%;/* Hace que los indicadores sean circulares */
    border: 2px solid #fff;/* Opcional: añade un borde para mejor visibilidad */
}

#carouselPrincipal .carousel-indicators [data-bs-target].active {
    background-image: url("/src/images/list-ball-yellow.svg");
}

.carousel {
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Altura fija para el carrusel (ajusta este valor) */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda la altura */
    /* margin-top: 32px; */
}

#carouselMain {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}
  
#carouselPrincipal .carousel-inner {
    height: 100%; /* Hereda la altura del contenedor */
}
  
#carouselPrincipal .carousel-item {
    height: 100%; /* Asegura que cada item ocupe la altura del contenedor */
}
  
/* .carousel-item img {
    width: 100%; /* Ocupa todo el ancho */
/*     height: 100%; /* Ocupa todo el alto */
/*     object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionarse */
/* } */

#carouselPrincipal .carousel-item img,
#carouselPrincipal .carousel-item video {
    height: 100%; /* Asegura que las imágenes y videos ocupen el 100% de la altura del item */
    object-fit: cover; /* Asegura que las imágenes y videos cubran el área del item sin distorsión */
}

.carousel-indicators {
    margin-bottom: 3rem;
}

.carousel-caption {
    bottom: 2.25rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}
/*=======================================
=========        CARD         ===========
=======================================*/
/* From Uiverse.io by alexruix */ 







/*=======================================
=========   Carrusel Marcas   ===========
=======================================*/

.owl-carousel .item img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 150px; /* Establece una altura fija */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    border-radius: 10px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 37%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 25px; /* Tamaño de la flecha */
    width: 40px;     /* Ancho del botón */
    height: 40px;    /* Alto del botón */
    line-height: 40px; /* Centrar el ícono verticalmente */
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
    color: white;    /* Color de la flecha */
    border-radius: 50%; /* Hacer el botón circular */
    text-align: center; /* Centrar el ícono horizontalmente */
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Cambiar el fondo al pasar el mouse */
}

.owl-carousel .owl-nav button.owl-prev {
    left: -10px;
	color:#fff;
	cursor:pointer;
	font-size: 0px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -10px;
	color:#fff;
	font-size: 0px;
	cursor:pointer;
	background-position: -56px 2px;
}

.owl-carousel .owl-nav button.owl-prev:before,
.owl-carousel .owl-nav button.owl-next:before {
	font-size: 32px;
    font-family: "FontAwesome";
    font-weight: normal;
}
.owl-carousel .owl-nav button.owl-prev:before {
    content: "\f104";
}
.owl-carousel .owl-nav button.owl-next:before {
    content: "\f105";
}
.owl-carousel .owl-nav button.owl-prev:hover:before,
.owl-carousel .owl-nav button.owl-next:hover:before {
	color: var(--color-yellow-light);
}