/*Los indicadores del carrusel del bootstrap bolas de tenis*/
.carousel-indicators [data-bs-target] {
    /* Aumentar el tamaño de los indicadores */
    width: 15px;/* Ancho del indicador */
    height: 15px;/* Alto del indicador */

    /* Ajustar la imagen de fondo */
    background-image: url("../images/list-ball-yellow.svg");
    background-size: cover;/* Ajusta la imagen para cubrir el área del indicador */
    background-position: center;/* Centra la imagen en el indicador */
    border-radius: 50%;/* Hace que los indicadores sean circulares */
    border: 2px solid #fff;/* Opcional: añade un borde para mejor visibilidad */
}

.carousel {
    width: 100%; /* Ocupa todo el ancho */
    height: 600px; /* Altura fija para el carrusel (ajusta este valor) */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda la altura */
    margin-top: 32px;
}
  
.carousel-inner {
    height: 100%; /* Hereda la altura del contenedor */
}
  
.carousel-item {
    height: 100%; /* Asegura que cada item ocupe la altura del contenedor */
}
  
.carousel-item img {
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionarse */
}

.carousel-indicators {
    margin-bottom: 3rem;
}

.carousel-caption {
    bottom: 2.25rem;
}

/*=======================================
=========        CARD         ===========
=======================================*/
/* From Uiverse.io by alexruix */ 
#card1 .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   #card1   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   #card2  .card-button, #card1  .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-green-light);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   #card1  .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   #card1   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   #card1   .card:hover {
    border-color: var(--color-green-light);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   #card2  .card:hover .card-button, #card1  .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }


/* Card 2 */

/* From Uiverse.io by juan-sued */ 
#card2 .card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: var(--color-default);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #card2 .card::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  #card2 .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  #card2 .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  #card2 .card p:not(.heading) {
    font-size: 14px;
  }
  
  #card2 .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  #card2 .card:hover::after {
    filter: blur(30px);
  }
  
  #card2 .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
