* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;/*'Inter', sans-serif;*/
    background-image: url('/src/images/image_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
    line-height: 1.6;
    font-weight: 600;
}
/* 
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.top-bar {
    display: flex; /* Mostrar la barra superior */
    /* height: var(--top-bar-height); Altura fija */
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fijarla en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background 0.3s ease;
}
body.inicio .top-bar {
    background: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.top-bar.scrolled {
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.top-bar .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.top-bar .navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.top-bar .menu-link {
    font-size: 1.1rem;
    line-height: 2.2;
    margin: 0 10px;
    padding: 10px 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    border-radius: 4px;
}

.top-bar .menu-link:hover {
    color: var(--color-default);
}

.top-bar .icon-cart {
    position: relative;
    cursor: pointer;
}

.top-bar .icon-cart svg {
    width: 25px;
}

.top-bar .icon-cart span {
    position: absolute;
    background-color: #fc3b3c;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 50%;
    color: #fff;
    top: -50%;
    right: -10px;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: lowercase;
}

.dropdown-menu{
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%);
    transition: background 0.3s ease;
}
body.inicio .dropdown-menu{
    background: transparent;
}
.dropdown-menu.scrolled {
    background: linear-gradient(-45deg, var(--color-green-light) 0%, var(--color-yellow-light) 100%) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    text-decoration: none;
    color: var(--white);
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    gap: 20px; /* Espaciado entre los enlaces */
}


.page-title {
    margin-left: 20px;
    font-size: 1.2em;
}


@media (max-width: 768px) {
    .top-bar .navbar-brand {
        display: none;
    }

    .top-bar .icon-cart {
        position: fixed;
        top: 18px;
        right: 18px;
    }

    .menu {
        gap: 0;
        padding-top: 10px;
    }
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
  
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: linear-gradient(-45deg, #03fa61 0%, yellow 100%);
    margin: 4px 10px;
}
  
.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}


/* ==================================
=========  cart shopping ============
====================================*/

/* cart */
.cartTab {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #7f4b00;
    box-shadow: -1px 0 5px rgba(0,0,0,0.5);
    color: #eee;
    z-index: 2;
    padding: 60px 10px 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}
.cartTab .btn-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab.show {
    transform: translateX(0);
}

body.showCart .cartTab{
    right: 0;
}

body.showCart .container{
    transform: translateX(-250px);
}
.listCart .item {
    display: grid;
    grid-template-columns: 70px 1fr 100px 30px;
    /* gap: 10px; */
    text-align: center;
    align-items: center;
}
.listCart .item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listCart .item .infoProducto {
    text-align: start;
    overflow: hidden;
}
.listCart .item img{
    width: 100%;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart .item .delete-btn {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s ease;
}
.listCart .item .delete-btn:hover {
    color: var(--color-red);
}
.listCart .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}